* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}
h1,
h2,
h3 {
  color: #1098ad;
}
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
  float: left;
}
nav {
  float: right;
}
nav a:link {
  display: inline-block;
  margin-right: 30px;
  margin-top: 10px;
}
h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}
h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
}
li:last-child {
  margin-bottom: 0px;
}
/* footer p {
  font-size: 16px;
} */
/*article header p {
  font-style: italic;
}*/
#author {
  font-style: italic;
  font-size: 18px;
}
#copyright {
  font-size: 16px;
  text-align: right;
}
.related-author {
  font-size: 16px;
  font-weight: bold;
}
/* ul {
  list-style: none;
} */
.related {
  list-style: none;
}
.container {
  max-width: 900px;
  margin-left: auto;
  width: 90%;
  margin-right: auto;
}
.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
}
.post-header {
  margin-bottom: 30px;
}
.post-img {
  width: 100%;
  height: auto;
}
.main-header * {
  display: inline-block;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding-top: 30px;
}
/* .first-li {
  font-weight: bold;
} */
li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: italic;
}
li:nth-child(even) {
  color: red;
}
ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}
a:link {
  color: #1098ad;
  text-decoration: none;
}
a:visited {
  color: #1098ad;
}
a:hover {
  color: orangered;
}
a:active {
  background-color: black;
}
h1::first-letter {
  font-style: normal;
  margin-top: 5px;
}
h3 + p::first-line {
  color: green;
}
h2::after {
  content: "TOP";
  background-color: rgb(255, 204, 0);
  font-size: 16px;
  color: black;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  right: 25px;
}
body {
  border-top: 15px solid #1098ad;
}
.author-img {
  float: left;
  height: 50px;
  width: auto;
  margin-bottom: 20px;
}
.author {
  float: left;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: auto;
}
.clear {
  clear: both;
}
