* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.4;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  background-color: #dfdfdf;
  font-weight: bold;
  padding: 15px;
}
h2::after {
  content: "SALE";
  background-color: red;
  color: white;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  padding: 10px 20px;
  position: absolute;
  letter-spacing: 5px;
  top: -25px;
  left: -50px;
}
.shipping {
  color: grey;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
}
article {
  border: 5px solid black;
  margin: 50px auto;
  width: 900px;
  position: relative;
}
button {
  color: white;
  background-color: black;
  text-transform: uppercase;
  border: none;
  font-size: 20px;
  width: 100%;
  height: 40px;
}
button:hover {
  background-color: white;
  color: #000;
  border-top: solid 5px;
  cursor: pointer;
}
.price {
  font-size: 30px;
}
.description {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}
a {
  color: #000;
}
a:visited {
  color: #000;
}
.options {
  padding-left: 30px;
  margin-bottom: 15px;
}
.copyright {
  text-align: right;
  font-size: 10px;
}
h3 {
  margin-bottom: 10px;
  text-transform: uppercase;
}
li {
  margin-bottom: 5px;
}
li:last-child {
  margin-bottom: 0;
}
.product-img {
  display: flex;
  width: auto;
}
.color {
  height: 25px;
  width: 25px;
  background-color: red;
}
.color:first-child {
  /* margin-left: 20px; */
}
.black {
  background-color: #000;
}
.blue {
  background-color: rgb(50, 50, 220);
}
.red {
  background-color: red;
}
.yellow {
  background-color: rgb(242, 204, 52);
}
.green {
  background-color: green;
}
.brown {
  background-color: brown;
}
.colors-container {
  display: flex;
  gap: 10px;
}
/* .product-img {
  float: left;
} */

/* .info-container {
  float: left;
  width: 300px;
  height: 100%;
  margin: 10px 20px;
}
  
.details-container {
  float: left;
  width: 260px;
  margin: 10px 20px;
  font-weight: bold;
  padding-top: 10px;
}

.price {
  float: left;
}

.shipping {
  float: right;
  padding: 15px;
} */

.info-container {
  flex: 1;
}
.price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.main-container {
  display: flex;
  gap: 40px;
}

.details-container {
  flex: 1;
  font-weight: bold;
  margin-top: 20px;
}
